
  .catetgory-container {
    border: 1px solid black;
    margin-bottom: 20px;
   
  }
  .category-container:first-child,  .category-container:nth-child(2){
    width: 49%;
  }


  .category-image:first-child, .category-image:nth-child(2){
    width: 100%;
  }

  .category-container:nth-child(3),  .category-container:nth-child(4), .category-container:nth-child(5){
    width: 32%;
  }

  .category-container:nth-child(6),  .category-container:nth-child(7) {
    width: 49%;
  }
  
  .category-image {
    
    height: 250px;
    object-fit:cover ;
  }
  
  .category-body-container {
      text-align: center;
      background-color: rgb(215, 223, 224); 
  }
  
  .category-container:hover {
      transform: scale(1.05);
  }